NEXT_PUBLIC_API_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=AckiMeme
NEXT_PUBLIC_NETWORK_LABEL=Acki Nacki
NEXT_PUBLIC_SUPPORT_URL=https://t.me/ackimeme
NEXT_PUBLIC_SITE_URL=https://ackimeme.fun
NEXT_PUBLIC_ENABLE_DEV_TOOLS=false
